{% extends 'base.html' %}

{%  block html_header %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script href="/static/js/users.js"></script>

{% endblock %}

  </head>

{% block head_body %}
  <body class="text-center">

<main class="form-signin">
  <form action="/users/signupProcess/" method="post">
      {%  csrf_token %}
    <h1 class="h3 mb-3 fw-normal">회원가입 입니다.</h1>
      {% if err_msg %}
          <h1 class="h3 mb-3 fw-normal">{{ err_msg }}</h1>
      {%  endif %}
    <label for="inputId" class="visually-hidden">User ID</label>
    <input type="text"
           id="inputId"
           name="inputId"
           class="form-control" placeholder="User ID" required autofocus>
    <label for="inputPassword1" class="visually-hidden">Password1</label>
    <input type="password" id="inputPassword1" name="inputPassword1" class="form-control" placeholder="Password1" required>
    <label for="inputPassword2" class="visually-hidden">Password2</label>
    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Password2" required>
    <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-lg btn-warning" type="submit">회원가입</button>
  </form>
</main>



  </body>
{% endblock %}
</html>
