{% extends 'base.html' %}
{% load bootstrap4 %}
{% block html_header %}
    <script src="/static/js/posts.js"></script>
{% endblock %}

{% block html_body %}

    <div class="container">
        <h1>글 상세</h1>

        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>내용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>제목</td>
              <td>{{ post.p_title }}</td>
            </tr>
            <tr>
              <td>작성자</td>
              <td>{{ post.author_name }}</td>
            </tr>
            <tr>
              <td>내용</td>
              <td>{{ post.p_contents }}</td>
            </tr>
            <tr>
              <td>작성일</td>
              <td>{{ post.p_date | date:"Y-m-d" }}</td>
            </tr>
            <tr>
              <td>조회수</td>
              <td>{{ post.p_count }}</td>
            </tr>
          </tbody>
        </table>
        </div>

        <button type="button"
                class="btn btn-primary"
                onclick="to_list()">리스트로 돌아가기</button>
        {% if post.author_name == user.username %}
        <button type="button"
                class="btn btn-warning"
                onclick="update_post({{ post.id }})">수정</button>
        <button type="button"
                class="btn btn-danger"
                onclick="delete_post({{ post.id }})">삭제</button>
        {% else %}
        <p>본인이 작성한 글만 수정, 삭제가 가능합니다.</p>
        <button type="button"
                class="btn btn-warning" disabled="disabled">수정</button>
        <button type="button"
                class="btn btn-danger" disabled="disabled">삭제</button>
        {% endif %}

    </div>

{% endblock %}