{% extends 'base.html' %}
{% block html_header %}

     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="/static/js/users.js"></script>

{% endblock %}

{% block html_body %}

<body class="text-center">


<main class="form-signin">
  <form action="/users/loginProcess/" method="post">
    {% csrf_token %}
    {%  if err_msg %}
    <h1 class="h3 mb-3 fw-normal">{{ err_msg }}</h1>
    {% else %}
    <h1 class="h3 mb-3 fw-normal">로그인</h1>
    {%  endif %}
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" id="inputEmail"
           name='userEmail' class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword"
           name='userPassword' class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
    <p class="mt-5 mb-3 text-muted"></p>
    <button class="w-100 btn btn-lg btn-warning" type="button" id="signupBtn">회원가입</button>
    <p class="mt-5 mb-3 text-muted"></p>
  </form>
</main>



  </body>

{% endblock %}
