<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ question_list.question_text }}</h1>
    {% if error_message %}{{ error_message }}{% endif %}

    <form action = "{% url 'polls:vote' selected_question.id %}" method="POST">
    {% csrf_token %}
        {% for choice in selected_question.choice_set.all %}
            <input type="radio" name = "my_choice" id="id{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="id{{ forloop.counter }}" >{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="투표!">
    </form>
</body>
</html>